<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liên hệ</title>

    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>

    <!-- ElegantFonts CSS -->
    <link rel="stylesheet" th:href="@{/css/elegant-fonts.css}"/>

    <!-- themify-icons CSS -->
    <link rel="stylesheet" th:href="@{/css/themify-icons.css}"/>

    <!-- Swiper CSS -->
    <link rel="stylesheet" th:href="@{/css/swiper.min.css}"/>

    <!-- Styles -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    
    <style th:inline="text">
        .about-page .page-header {
        background: url([[@{/images/courses-header.jpg}]]) no-repeat center;
        }
    </style>
</head>
<body class="about-page">
    <div class="page-header">
        <header class="site-header">
            <header class="site-header">
                <div class="top-header-bar">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

                            </div>
                            <div class="col-8 col-lg-8 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                                <div class="col-xs-2 col-sm-2 col-md-4 col-lg-4">
                                    
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                                    <div class="header-bar-search">
                                        <form class="flex align-items-stretch">
                                            <input type="search" placeholder="Tìm kiếm"/>
                                            <button type="submit" value="" class="flex justify-content-center align-items-center"><i class="fa fa-search"></i></button>
                                        </form>
                                    </div><!-- .header-bar-search -->
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="khung">
                                        <button class="nuttt">
                                            <img th:src="@{/images/user.png}" alt="avatar" class="ava" style="vertical-align:middle"/>
                                             <span th:text="${session.username}"></span>
                                        </button>   
                                       <div class="danhmuctt">
                                            <a th:href="@{/thaydoithongtinuser}">Thay Đổi Thông Tin</a>
                                            <a th:href="@{/doimatkhauuser}">Đổi Mật Khẩu</a>
                                            <a th:href="@{/trangchu}">Đăng Xuất</a>
                                        </div>
                                    </div> <!-- end khung -->
                                </div>               
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .container-fluid -->
                </div><!-- .top-header-bar -->

                <div class="nav-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-3 col-lg-3">
                            <div class="site-branding">
                                <h1 class="site-title"><a th:href="@{/trangchuuser}" rel="home">Eng<span>Edu</span></a></h1>
                            </div><!-- .site-branding -->
                        </div><!-- .col -->

                        <div class="col-9 col-lg-9 flex justify-content-end align-content-center">
                            <nav class="site-navigation flex justify-content-end align-items-center">
                                <ul class="flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                                    <li><a th:href="@{/trangchuuser}">Trang chủ</a></li>
                                    <li><a th:href="@{/hoc_dstopic}">Học qua Video và Thi trực tuyến</a></li>
                                    <li><a th:href="@{/lienheuser}">Liên hệ</a></li>
                                </ul>

                                <div class="hamburger-menu d-lg-none">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div><!-- .hamburger-menu -->
                            </nav><!-- .site-navigation -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .nav-bar -->
            </header><!-- .site-header -->
        </header><!-- .site-header -->

        <div class="page-header-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <header class="entry-header">
                            <h1 th:text="${'Chủ đề: '+topic}"></h1>
                            <h3 style="color:white" th:text="${strlevel}"></h3>
                        </header><!-- .entry-header -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .page-header-overlay -->
    </div><!-- .page-header -->

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs">
                    <ul class="flex flex-wrap align-items-center p-0 m-0">
                        <li><a th:href="@{/trangchuuser}"><i class="fa fa-home"></i>Trang chủ</a></li>
                        <li><a th:href="@{/hoc_dstopic}">Danh sách chủ đề</a></li>
                    </ul>
                </div><!-- .breadcrumbs -->
            </div><!-- .col -->
        </div><!-- .row -->

        <div class="row">
            <div class="col-12">
                <div class="about-heading">
                    <h2 class="entry-title" th:text="${topic}"></h2>
                </div><!-- .about-heading -->
            </div><!-- .col -->
            <div class="col-12 text-center" style="padding-top: 30px">
                <button class="btn btn-danger"><a th:href="@{/test/{topic}/{level}(topic=${topic},level=${level})}">Làm bài test</a></button>
            </div><!-- .col -->
        </div><!-- .row -->
        <h3 style="color:black">Danh sách bài giảng:</h3>
        <div class="row" style="padding-top: 30px">
          <th:block th:each="video,pos:${lVideo}">
            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" th:utext="${video.getUrl()}" style="padding-top:30px">           
            </div>
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="color:black; padding-top:30px">
            	<h4><b>Thông tin video:</b></h4>
                <textarea style="width:100%; height:100%; overflow:hidden" th:id="${'textbox'+pos.count}" th:text="${video.getDescribevideo()}" onkeyup="setHeight('textBox1');" onkeydown="setHeight('textBox1');">
                </textarea>
                <script type="text/javascript">
					function setHeight(fieldId){
    					document.getElementById(fieldId).style.height = document.getElementById(fieldId).scrollHeight+'px';
					}
						setHeight('textbox1');
						setHeight('textbox2');
						setHeight('textbox3');
				</script>
            </div>
          </th:block>
        </div>
    </div> 

        <footer class="footer-area section-gap" style="margin-top:40px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 logo-left no-padding text-center">
                        <h1 class="site-title text-center">
                            <a th:href="@{/trangchuuser}" class="text-center">Eng<span>Edu</span></a>
                        </h1>
                </div>
            </div>
            <div class="text-center" style="padding-top: 20px">
                <p class="footer-text m-0 col-lg-12 col-md-12" style="text-align: center; color: white;">@Education Application by Student HCMUTE, 2019</p>
            </div>
            <div class="footer-bottom row text-center">
                <div class="col-lg-12 col-md-12 footer-social text-center">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <script type='text/javascript' th:src='@{/js/jquery.js}'></script>
    <script type='text/javascript' th:src='@{/js/swiper.min.js}'></script>
    <script type='text/javascript' th:src='@{/js/masonry.pkgd.min.js}'></script>
    <script type='text/javascript' th:src='@{/js/jquery.collapsible.min.js}'></script>
    <script type='text/javascript' th:src='@{/js/custom.js}'></script>
    
</body>
</html>