<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Học tiếng Anh qua Video</title>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />

    <!-- ElegantFonts CSS -->
    <link rel="stylesheet" th:href="@{/css/elegant-fonts.css}" />

    <!-- themify-icons CSS -->
    <link rel="stylesheet" th:href="@{/css/themify-icons.css}" />

    <!-- Swiper CSS -->
    <link rel="stylesheet" th:href="@{/css/swiper.min.css}" />

    <!-- Styles -->
    <link rel="stylesheet" th:href="@{/css/style.css}" />

    <style th:inline="text">
        .about-page .page-header {
        background: url([[@{/images/courses-header.jpg}]]) no-repeat center;
        }
    </style>
    <style type="text/css">
        button a {
            text-decoration: none;
            color: white;
        }
    </style>
</head>
<body class="about-page">
    <div class="page-header">
        <header class="site-header">
            <header class="site-header">
                <div class="top-header-bar">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

                            </div>
                            <div class="col-8 col-lg-8 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                                <div class="col-xs-2 col-sm-2 col-md-4 col-lg-4">
                                    
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                                    <div class="header-bar-search">
                                        <form class="flex align-items-stretch">
                                            <input type="search" placeholder="Tìm kiếm"/>
                                            <button type="submit" value="" class="flex justify-content-center align-items-center"><i class="fa fa-search"></i></button>
                                        </form>
                                    </div><!-- .header-bar-search -->
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="khung">
                                        <button class="nuttt">
                                            <img th:src="@{/images/user.png}" alt="avatar" class="ava" style="vertical-align:middle"/>
                                             <span th:text="${session.username}"></span>
                                        </button>   
                                       <div class="danhmuctt">
                                            <a th:href="@{/thaydoithongtinuser}">Thay Đổi Thông Tin</a>
                                            <a th:href="@{/doimatkhauuser}">Đổi Mật Khẩu</a>
                                            <a th:href="@{/trangchu}">Đăng Xuất</a>
                                        </div>
                                    </div> <!-- end khung -->
                                </div>               
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .container-fluid -->
                </div><!-- .top-header-bar -->

                <div class="nav-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-3 col-lg-3">
                            <div class="site-branding">
                                <h1 class="site-title"><a href="trangchuad.html" rel="home">Eng<span>Edu</span></a></h1>
                            </div><!-- .site-branding -->
                        </div><!-- .col -->

                        <div class="col-9 col-lg-9 flex justify-content-end align-content-center">
                            <nav class="site-navigation flex justify-content-end align-items-center">
                                <ul class="flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                                    <li><a th:href="@{/trangchuuser}">Trang chủ</a></li>
                                    <li><a th:href="@{/hoc_dstopic}">Học qua Video và Thi trực tuyến</a></li>
                                    <li><a th:href="@{/lienheuser}">Liên hệ</a></li>
                                </ul>

                                <div class="hamburger-menu d-lg-none">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div><!-- .hamburger-menu -->
                            </nav><!-- .site-navigation -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .nav-bar -->
            </header><!-- .site-header -->
        </header><!-- .site-header -->

        <div class="page-header-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <header class="entry-header">
                            <h1>THÔNG BÁO</h1>
                        </header><!-- .entry-header -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .page-header-overlay -->
    </div><!-- .page-header -->

    <div class="container">
        <div class="row text-center" style="padding-top: 30px">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p th:text="${thongbao}"></p>
            </div>
        </div><!-- .row -->
        <div class="row text-center">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="text-center">Bạn lựa chọn:</p>
            </div>           
        </div>
        <div class="row text-center" style="padding-bottom: 30px">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button class="btn btn-primary"><a th:href="@{/hienthidsvideo={id}/{level}(id=${topic},level=${level})}">Bắt đầu</a></button>
                <button class="btn btn-primary"><a href="trangchuuer.html">Về trang chủ</a></button>
                <button class="btn btn-primary"><a th:href="@{/resettopic={id}(id=${topic})}">Reset chủ đề</a></button>
            </div>
        </div>
    </div><!-- .container -->

        <footer class="footer-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 logo-left no-padding text-center">
                        <h1 class="site-title text-center">
                            <a th:href="@{/trangchuuser}" class="text-center">Eng<span>Edu</span></a>
                        </h1>
                </div>
            </div>
            <div class="text-center" style="padding-top: 20px">
                <p class="footer-text m-0 col-lg-12 col-md-12" style="text-align: center; color: white;">@Education Application by Student HCMUTE, 2019</p>
            </div>
            <div class="footer-bottom row text-center">
                <div class="col-lg-12 col-md-12 footer-social text-center">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <script type='text/javascript' th:src='@{/js/jquery.js}'></script>
    <script type='text/javascript' th:src='@{/js/swiper.min.js}'></script>
    <script type='text/javascript' th:src='@{/js/masonry.pkgd.min.js}'></script>
    <script type='text/javascript' th:src='@{/js/jquery.collapsible.min.js}'></script>
    <script type='text/javascript' th:src='@{/js/custom.js}'></script>

</body>
</html>