<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liên hệ</title>

    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>

    <!-- ElegantFonts CSS -->
    <link rel="stylesheet" th:href="@{/css/elegant-fonts.css}"/>

    <!-- themify-icons CSS -->
    <link rel="stylesheet" th:href="@{/css/themify-icons.css}"/>

    <!-- Swiper CSS -->
    <link rel="stylesheet" th:href="@{/css/swiper.min.css}"/>

    <!-- Styles -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    
    <style th:inline="text">
		.contact-page .page-header {
		background: url([[@{/images/courses-header.jpg}]]) no-repeat center;
		}
	</style>
</head>
<body class="contact-page">
    <div class="page-header">
        <header class="site-header">
            <div class="top-header-bar">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            
                        </div>
                        <div class="col-6 col-lg-6 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                            <div class="header-bar-search">
                                <form class="flex align-items-stretch">
                                    <input type="search" placeholder="Tìm kiếm"/>
                                    <button type="submit" value="" class="flex justify-content-center align-items-center"><i class="fa fa-search"></i></button>
                                </form>
                            </div><!-- .header-bar-search -->

                            <div class="header-bar-menu">
                                <ul class="flex justify-content-center align-items-center py-2 pt-md-0">
                                    <li><a href="dangky.html">Đăng ký</a></li>
                                    <li><a href="dangnhap.html">Đăng nhập</a></li>
                                </ul>
                            </div><!-- .header-bar-menu -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container-fluid -->
            </div><!-- .top-header-bar -->

            <div class="nav-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-3 col-lg-3">
                            <div class="site-branding">
                                <h1 class="site-title"><a href="trangchu.html" rel="home">Eng<span>Edu</span></a></h1>
                            </div><!-- .site-branding -->
                        </div><!-- .col -->

                        <div class="col-9 col-lg-9 flex justify-content-end align-content-center">
                            <nav class="site-navigation flex justify-content-end align-items-center">
                                <ul class="flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                                    <li><a href="trangchu.html">Trang chủ</a></li>
                                    <li><a href="">Học qua Video và Thi trực tuyến</a></li>
                                    <li><a href="lienhe.html">Liên hệ</a></li>
                                </ul>

                                <div class="hamburger-menu d-lg-none">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div><!-- .hamburger-menu -->

                            </nav><!-- .site-navigation -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .nav-bar -->
        </header><!-- .site-header -->

        <div class="page-header-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <header class="entry-header">
                            <h1>LIÊN HỆ</h1>
                        </header><!-- .entry-header -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .page-header-overlay -->
    </div><!-- .page-header -->

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs">
                    <ul class="flex flex-wrap align-items-center p-0 m-0">
                        <li><a href="trangchu.html"><i class="fa fa-home"></i>Trang chủ</a></li>
                        <li><a href="lienhe.html">Liên hệ</a></li>
                    </ul>
                </div><!-- .breadcrumbs -->
            </div><!-- .col -->
        </div><!-- .row -->

        <div class="row justify-content-between">
            <div class="col-12">
                <div class="map-wrap" style="width:100%; height: 445px;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.476514028973!2d106.75338911431085!3d10.851315392270699!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527bd80c66b4f%3A0x1243c8a70dc5d2e0!2zMSBWw7UgVsSDbiBOZ8OibiwgTGluaCBDaGnhu4N1LCBUaOG7pyDEkOG7qWMsIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1554906364167!5m2!1svi!2s" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen="true"></iframe>
                </div>
            </div><!-- .col -->

            <div class="col-12 col-lg-6">
                <div class="contact-form">
                    <h3>Form Liên hệ</h3>

                    <form>
                        <input type="text" placeholder="Họ tên"/>
                        <input type="email" placeholder="Email"/>
                        <input type="text" placeholder="Chủ đề"/>
                        <textarea placeholder="Nội dung" rows="4"></textarea>
                        <input type="submit" value="Gửi"/>
                    </form>
                </div><!-- .contact-form -->
            </div><!-- .col -->

            <div class="col-12 col-lg-6">
                <div class="contact-info">
                    <h3>Thông tin liên hệ</h3>

                    <ul class="p-0 m-0">
                        <li><span>Địa chỉ:</span>Số 01, Võ Văn Ngân, Thủ Đức, Hồ Chí Minh</li>
                        <li><span>Email:</span><a href="#">nhom05tkgd@gmail.com</a></li>
                        <li><span>Di động:</span><a href="#">03574677737</a></li>
                    </ul>
                </div><!-- .contact-info -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->


        <footer class="footer-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 logo-left no-padding text-center">
                        <h1 class="site-title text-center">
                            <a href="trangchu.html" class="text-center">Eng<span>Edu</span></a>
                        </h1>
                </div>
            </div>
            <div class="text-center" style="padding-top: 20px">
                <p class="footer-text m-0 col-lg-12 col-md-12" style="text-align: center; color: white;">@Education Application by Student HCMUTE, 2019</p>
            </div>
            <div class="footer-bottom row text-center">
                <div class="col-lg-12 col-md-12 footer-social text-center">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <script type='text/javascript' th:src='@{/js/jquery.js}'></script>
    <script type='text/javascript' th:src='@{/js/swiper.min.js}'></script>
    <script type='text/javascript' th:src='@{/js/masonry.pkgd.min.js}'></script>
    <script type='text/javascript' th:src='@{/js/jquery.collapsible.min.js}'></script>
    <script type='text/javascript' th:src='@{/js/custom.js}'></script>

</body>
</html>