<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Học tiếng Anh qua Video</title>

    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>

    <!-- ElegantFonts CSS -->
    <link rel="stylesheet" th:href="@{/css/elegant-fonts.css}"/>

    <!-- themify-icons CSS -->
    <link rel="stylesheet" th:href="@{/css/themify-icons.css}"/>

    <!-- Swiper CSS -->
    <link rel="stylesheet" th:href="@{/css/swiper.min.css}"/>

    <!-- Styles -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

    <style th:inline="text">
        .hero-content {
            background: url([[@{/images/hero-bg.jpg}]]) no-repeat center;
            background-size: cover;
        }
    </style>

</head>
<body>
    <div class="hero-content">
        <header class="site-header">
            <div class="top-header-bar">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            
                        </div>
                        <div class="col-6 col-lg-6 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                            <div class="header-bar-search">
                                <form class="flex align-items-stretch">
                                    <input type="search" placeholder="Tìm kiếm"/>
                                    <button type="submit" value="" class="flex justify-content-center align-items-center"><i class="fa fa-search"></i></button>
                                </form>
                            </div><!-- .header-bar-search -->

                            <div class="header-bar-menu">
                                <ul class="flex justify-content-center align-items-center py-2 pt-md-0">
                                    <li><a href="dangky.html">Đăng ký</a></li>
                                    <li><a href="dangnhap.html">Đăng nhập</a></li>
                                </ul>
                            </div><!-- .header-bar-menu -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container-fluid -->
            </div><!-- .top-header-bar -->

            <div class="nav-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-3 col-lg-3">
                            <div class="site-branding">
                                <h1 class="site-title"><a href="trangchu.html" rel="home">Eng<span>Edu</span></a></h1>
                            </div><!-- .site-branding -->
                        </div><!-- .col -->

                        <div class="col-9 col-lg-9 flex justify-content-end align-content-center">
                            <nav class="site-navigation flex justify-content-end align-items-center">
                                <ul class="flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                                    <li><a href="trangchu.html">Trang chủ</a></li>
                                    <li><a href="dangnhap.html">Học qua Video và Thi trực tuyến</a></li>
                                    <li><a href="lienhe.html">Liên hệ</a></li>
                                </ul>

                                <div class="hamburger-menu d-lg-none">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div><!-- .hamburger-menu -->

                            </nav><!-- .site-navigation -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .nav-bar -->
        </header><!-- .site-header -->

        <div class="hero-content-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-content-wrap flex flex-column justify-content-center align-items-start">
                            <header class="entry-header">
                                <h4>Bắt đầu với chương trình học Online</h4>
                                <h1>Học tiếng anh qua Video</h1>
                            </header><!-- .entry-header -->

                           <!--  <footer class="entry-footer read-more">
                               <a href="#">read more</a>
                           </footer>.entry-footer -->
                        </div><!-- .hero-content-wrap -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .hero-content-hero-content-overlay -->
    </div><!-- .hero-content -->

    <div class="icon-boxes">
        <div class="container-fluid">
            <div class="flex flex-wrap align-items-stretch">
                <div class="icon-box">
                    <div class="icon">
                        <span class="ti-pencil-alt2"></span>
                    </div><!-- .icon -->

                    <header class="entry-header">
                        <h3 class="entry-title">Học được nhiều kiến thức</h3>
                    </header><!-- .entry-header -->

                    <div class="entry-content">
                        <p>Học sẽ được học các chủ điểm ngữ pháp qua nhiều video đang hot hiện nay với những giáo viên nổi tiếng</p>
                    </div><!-- .entry-content -->

                </div><!-- .icon-box -->

                <div class="icon-box">
                    <div class="icon">
                        <span class="ti-thumb-up"></span>
                    </div><!-- .icon -->

                    <header class="entry-header">
                        <h3 class="entry-title">Có nhiều sự lựa chọn</h3>
                    </header><!-- .entry-header -->

                    <div class="entry-content">
                        <p>Cung cấp nhiều video kèm theo mô tả, bạn có thể tự do lựa chọn tùy theo sở thích của mình</p>
                    </div><!-- .entry-content -->

                </div><!-- .icon-box -->

                <div class="icon-box">
                    <div class="icon">
                        <span class="ti-book"></span>
                    </div><!-- .icon -->

                    <header class="entry-header">
                        <h2 class="entry-title">Đánh giá được năng lực</h2>
                    </header><!-- .entry-header -->

                    <div class="entry-content">
                        <p>Ở mỗi chủ điểm ngữ pháp, sẽ có 3 bài kiểm tra tương ứng với 3 cấp độ khác nhau, bạn phải vượt qua từng cấp độ</p>
                    </div><!-- .entry-content -->

                </div><!-- .icon-box -->

                <div class="icon-box">
                    <div class="icon">
                        <span class="ti-upload"></span>
                    </div><!-- .icon -->

                    <header class="entry-header">
                        <h2 class="entry-title">Được cập nhật nhanh chóng</h2>
                    </header><!-- .entry-header -->

                    <div class="entry-content">
                        <p>Video bài giảng, các bài test sẽ luôn được cập nhật và bổ sung để đáp ứng nhu cầu của người học</p>
                    </div><!-- .entry-content -->

                </div><!-- .icon-box -->
            </div><!-- .row -->
        </div><!-- .container-fluid -->
    </div><!-- .icon-boxes -->

    <section class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 align-content-lg-stretch">
                    <header class="heading">
                        <h2 class="entry-title">Thông tin về trang web</h2>

                        <p>Đến với website của chúng tôi, bạn có thể chọn bất kỳ chủ điểm ngữ pháp bạn cần học, lựa
                            chọn video phù hợp để học được chúng tôi gợi ý và luyện tập với 3 bài kiểm tra tương ứng
                            với 3 cấp độ. Hơn thế, bạn có thế reset lại bất kỳ chủ điểm nào nếu bạn muốn ôn tập lại.
                        </p>
                    </header><!-- .heading -->

                    <div class="entry-content ezuca-stats">
                        <div class="stats-wrap flex flex-wrap justify-content-lg-between">
                            <div class="stats-count">
                                30<span>+</span>
                                <p>Chủ điểm ngữ pháp</p>
                            </div><!-- .stats-count -->

                            <div class="stats-count">
                                3<span></span>
                                <p>Cấp độ</p>
                            </div><!-- .stats-count -->

                            <div class="stats-count">
                                100<span>+</span>
                                <p>Video bài giảng</p>
                            </div><!-- .stats-count -->
                        </div><!-- .stats-wrap -->
                    </div><!-- .ezuca-stats -->
                </div><!-- .col -->

                <div class="col-12 col-lg-6 flex align-content-center mt-5 mt-lg-0">
                    <div class="ezuca-video position-relative">
                        <div class="video-play-btn position-absolute">
                        </div><!-- .video-play-btn -->

                        <img src="images/introduce.png" />
                    </div><!-- .ezuca-video -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </section><!-- .about-section -->

    <footer class="footer-area section-gap">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-12 col-md-12 col-sm-12 logo-left no-padding text-center">
                        <h1 class="site-title text-center">
                            <a href="trangchu.html" class="text-center">Eng<span>Edu</span></a>
                        </h1>
                </div>
    		</div>
    		<div class="text-center" style="padding-top: 20px">
    			<p class="footer-text m-0 col-lg-12 col-md-12" style="text-align: center; color: white;">@Education Application by Student HCMUTE, 2019</p>
    		</div>
    		<div class="footer-bottom row text-center">
    			<div class="col-lg-12 col-md-12 footer-social text-center">
    				<a href="#"><i class="fa fa-facebook"></i></a>
    				<a href="#"><i class="fa fa-twitter"></i></a>
    				<a href="#"><i class="fa fa-dribbble"></i></a>
    			</div>
    		</div>
    	</div>
    </footer>

<script type='text/javascript' th:src='@{/js/jquery.js}'></script>
<script type='text/javascript' th:src='@{/js/swiper.min.js}'></script>
<script type='text/javascript' th:src='@{/js/masonry.pkgd.min.js}'></script>
<script type='text/javascript' th:src='@{/js/jquery.collapsible.min.js}'></script>
<script type='text/javascript' th:src='@{/js/custom.js}'></script>

</body>
</html>